<link href='http://fonts.googleapis.com/css?family=Lobster|Bangers' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />

<div id="pricelogo"></div>

<div id="comicsCode"></div>

<div id="bang">
  <%= link_to 'About us       ', '/about' %>
</div>


<div class="main">
  <h1><%= link_to 'READY TO BE A CRIME NUT?', 'about', :class=> 'big_title'%></h1>


  <div id="power"></div>

  <button id="show_form" class="button" onclick="show_hide();">Become a super hero!</button>

    <%= form_for :person, url: people_path do |f| %>
      <% if @person.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@person.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @person.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <div id="main_form">
      <br>
        <p>
          <%= f.text_field :first_name, class:'form-control', autofocus: true, placeholder: 'First Name' %>
        </p>
      <br>

        <p>
          <%= f.text_field :last_name, class:'form-control', autofocus: false, placeholder: 'Last Name' %>
        </p>
      <br>

        <p>
          <%= f.text_field :email, class:'form-control', autofocus: false, placeholder: 'Osu Email' %>
        </p>
      <br>

        <p>
          <%= f.submit 'Blast off!', :class => 'submit_button' %>
        </p>
    <% end %>
</div>
</div>
